html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to bottom, #9aa7db, #b1c6d4);
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul.pagination {
  max-width: 100%;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

ul.pagination li {
  display: inline-block;
  margin: 0 5px;
  padding: 2px 3px;
  min-width: 20px;
  width: auto;
  text-align: center;
}

ul.pagination li a {
  outline: none;
  cursor: pointer;
}

ul.pagination li.active {
  color: #000;
  background: #9aa7db;
}
